<nav class="navbar navbar-expand navbar-dark fixed-top nav-top-dashboard max-height-navbar" style="">
    <a href="#menu-toggle" id="menu-toggle" class="navbar-brand">
        <span class="logomove">
            <img src="img/mypt_logo_vector.svg" class="img-fluid dash-logo-nav " style="" />
        </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02"
        aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExample02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active dash-text-home">
                <a class="nav-link dash-text-home" href="/"><b>Home MyPT</b><span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <form class="form-inline my-2 my-md-0"></form>
    </div>
</nav>
<div id="wrapper" class="">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav mt-5 pt-5">
            <li><a href="/admin" class="text-status-darkpink-sidebar bb">Admin Dashboard</a></li>
            <hr>
            <li><a href="users/logout" class="text-pink-sidebar">Logout</a></li>
        </ul>
    </div>







    <div id="page-content-wrapper">
        <div class="mt-5 pt-4">
            <!-- Jumbotron: My Profile -->
            <div class="jumbotron text-center">
                <h1 class="dark-text-titleh1">Plates</h1>
                <hr>
                {{!-- <h3 class="welcome">
                Welcome {{name}}
            </h3> --}}
                <a href="/plates/add" class="btn btn-light mb-2 btn-add">
                    Add plate
                </a>
                <hr class="my-3" />




                <!-- caRds-->
                <div class="container-fluid mt-2">
                    <div class="row  centerdiet">
                        {{#if plates}}
                        {{#each plates}}
                        <div class="card mt-2 ml-2" style="width: 18rem;">
                            <div class="card-body" style="">
                                <img class="card-img-top"
                                    src="data:image/{{img.contentType}};base64,{{formatImg img.data}}"
                                    alt="Alt for image"
                                    style="max-height: 300px; width:100%; min-height:300px;border-radius:25px">
                                <div style="min-height:100px;">
                                    <hr>
                                    <div class="text-pink-plate">
                                        {{food_type}}
                                    </div>
                                    <h5 class="card-title text-darkpink-modal ">
                                        {{title}}
                                    </h5>
                                </div>    
                                    <hr>
                                    <p class="text-pink-plate">Calories:
                                        <span class="text-dark">{{calories}}</span></p>
                                    <hr>
                                
                                <div style="100px">
                                    <button type="button" class="btn btn-light mb-2 btn-add" data-toggle="modal"
                                        data-target="#exampleModalLong{{@index}}">
                                        Show details
                                    </button>
                                </div>

                                <div class="container">
                                    <div class="row text-center" style="place-content: center;">
                                        <div class="col-3">
                                            <span>
                                                <a href="/plates/edit/{{_id}}" class="btn btn-light mb-2 btn-pink">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                            </span>
                                        </div>
                                        <div class="col-3">
                                            <span>
                                                <form action="/plates/{{_id}}?_method=delete" method="POST"
                                                    id="delete-form">
                                                    <input type="hidden" name="_method" value="delete" />
                                                    <button type="submit" class="btn btn-light mb-2 btn-pink">
                                                        <i class="fa fa-trash"></i>
                                                    </button>
                                                </form>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <!-- Modal -->
                                <div class="modal fade" id="exampleModalLong{{@index}}" tabindex="-1" role="dialog"
                                    aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h2 class="modal-title title-food text-pink" id="exampleModalLongTitle">
                                                    {{title}}</h2>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="card mb-3">
                                                    <img class="card-img-top"
                                                        src="data:image/{{img.contentType}};base64,{{formatImg img.data}}"
                                                        alt="Card image cap">
                                                    <div class="card-body">
                                                        <div class="text-darkpink-modal">Calories:
                                                            <span class="blackstyle-modal">
                                                                {{calories}}</span></div>
                                                        <p class="card-text text-darkpink-modal">
                                                            Items: <span class="blackstyle-modal">{{items}}</span>
                                                        </p>
                                                        <p class="card-text text-darkpink-modal">
                                                            Directions: <span
                                                                class="blackstyle-modal">{{directions}}</span>
                                                        </p>
                                                        <p class="card-text text-darkpink-modal">
                                                            Tips: <span class="blackstyle-modal">{{tips}}</span>
                                                        </p>
                                                        <p class="card-text text-darkpink-modal">
                                                            Meal: <span class="blackstyle-modal">{{food_type}}</span>
                                                        </p>
                                                        <p class="card-text text-darkpink-modal">
                                                            Diet: <span class="blackstyle-modal">{{diet_type}}</span>
                                                        </p>
                                                        <p class="card-text text-darkpink-modal">
                                                            Cuisine: <span class="blackstyle-modal">{{cuisine}}</span>
                                                        </p>
                                                        <p class="card-text text-darkpink-modal">
                                                            Prep Time: <span class="blackstyle-modal">{{prep}}</span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                            </div>
                        </div>
                        {{/each}}
                        {{else}}
                        <p>You have no plates added.</p>
                        {{/if}}
                    </div>
                </div>
                <!-- caRds-->



            </div>
        </div>